.window-form {

  // .window-form__top

  &__top {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "name name name name name name width width height height quantity quantity";
    column-gap: 26px;

    @media (max-width:992px){
      gap: 25px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "name name name name quantity quantity"
      "width width width height height height";
    }

    @media (max-width:425px){
      gap: 25px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "name name name name name name name quantity quantity quantity quantity quantity"
      "width width width width width width height height height height height height";
    }

  }

  // .window-form__name

  &__name {
    grid-area: name;
  }

  // .window-form__help

  &__help {
    font-family: 'SourceSansPro';
    font-size: 1.2em;
    line-height: 167%;
    color: #C5C7CD;

    margin-left: 16px;
    margin-top: 3px;

    @media (max-width:992px){
      color: #3F3F3F;
    }

    // .window-form__help--center
    &--center{
      text-align: center;
      margin-left: 0;

      @media (max-width:992px){
        margin-left: 16px;
        text-align: left;
      }
    }
  }

  // .window-form__width

  &__width {
    grid-area: width;
  }

  // .window-form__height

  &__height {
    grid-area: height;
  }

  // .window-form__quantity

  &__quantity {
    grid-area: quantity;

    &-quantity{
      font-size: 1.6em;
      line-height: 120%;
      color: #fff;
      font-weight: 400;

      border: 0px;
      border-bottom: 1px solid #C5C7CD;

      background-color: transparent;
      outline: none;

      width: 100%;
      padding: 18px 16px 18px 16px;

      text-align: center;
    }

    .minus-quantity,
    .plus-quantity{

      height: 24px;
      width: 24px;
      position: absolute;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);

    }

    .minus-quantity{
      left: 20%;
      @media (max-width:1200px){
        left: 10%;
      }
    }
    .plus-quantity{
      right: 20%;
      @media (max-width:1200px){
        right: 10%;
      }
    }
  }

  // .window-form__quantity-input

  &__quantity-input {
    position: relative;
  }
}

.window-form{

  &__name, &__width, &__height{

    & input{
      font-size: 1.6em;
      line-height: 120%;
      color: #fff;
      font-weight: 400;

      border: 0px;
      border-bottom: 1px solid #C5C7CD;

      background-color: #232323;
      outline: none;

      width: 100%;
      padding: 18px 16px 18px 16px;
    }

  }

}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}