.window-form{

  width: 100%;

  margin-top: 30px;

  display: none;

  @media (max-width:768px){
    margin-top: 20px;
  }

  &--active{
    display: block;
  }

  &__del{
    margin: 0 auto 20px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width:769px) {
      display: none;
    }

    & img{
      max-width: 12px;
      margin-right: 8px;
    }

    & p{
      font-family: 'SourceSansPro';
      font-weight: 400;
      font-size: 1.6em;
      line-height: 125%;
      text-decoration: underline;
      color: #C5C7CD;
    }
  }

}